/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


/* Contenido principal */
.main-contentE {
    max-width: 100%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:500px ; 
    margin-top: 100px;
}

h2 {
    text-align: center;
    color: #333;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;

}

label {
    margin-top: 10px;
    font-weight: bold;
}

.form-input, .form-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    background: #2980b9;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1f6690;
}

