/* Estilo general */
      *{
        margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
      }
    


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg, #147d17, #085696); /*<---------- aqui se cambia el color del fondo*/
}

/* Barra de navegación superior */
.navbar {
    background-color: #e0e0e0;    
    color: white;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    width: 100%;   
    align-items: center;  
}

.nav-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
}

.nav-logo-img {
    max-height: 50px;
    height: auto;
    margin-right: 10px;
}

.menu-toggle {
    background: none;
    border: none;
    color: rgb(36, 36, 36);
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.search-bar {
    flex-grow: 1;
    max-width: 650px; /* Ajusta el tamaño máximo de la barra de búsqueda */
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 20px; /* Espacio a los lados */
    margin-left: 10%;
}

.user-menu {
    position: relative;
    display: flex;
    align-items: normal;
    margin-left: auto;
    z-index: auto;
}

.user-button {
    background: none;
    border: none;
    color: rgb(36, 36, 36);
    font-size: 24px;
    cursor: pointer;
    margin: 0 20px;
}

.user-dropdown {
    display: none;
    position: fixed;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.user-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.user-dropdown a:hover {
    background-color: #f1f1f1;
}

.user-dropdown.show {
    display: block;
}

/* Menú lateral */
.side-menu {
    width: 200px;
    background-color: #333;
    padding: 15px;
    position: fixed;
    top: 60px; /* Ajusta según la altura de tu navbar */
    left: -200px; /* Oculto inicialmente */
    height: 100%;
    overflow-y: auto;
    transition: left 0.3s;
}

.side-menu.open {
    left: 0; /* Mostrar menú */
}
.side-menu nav ul {
    list-style-type: none;
    padding: 0;
}

.side-menu nav ul li {
    margin: 10px 0;
}

.side-menu nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.side-menu nav ul li a:hover {
    background-color: #575757;
}

/* Contenido principal */
.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 20px; /* Ajusta según el ancho del menú lateral */
    margin-top: 60px; /* Ajusta según la altura de tu navbar */
    transition: margin-left 0.3s;
}

.main-content.shifted {
    margin-left: 220px; /* Ajusta según el ancho del menú lateral */
}

/* Footer */
.footer {
    background-color: #1c1c1c;   /*<---------- aqui se cambia el color del fondo del footer*/
    color: white;   /*<---------- aqui se cambia el color de las letras */
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
    font-size: 14px;
}


/*CAMBIAR CONTRASEÑA*/
.form-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50PX;
    border: 1px solid #ccc;
}

form h2 {
    text-align: center;
    margin-bottom: 10px;
}

/* Estilos para el botón */
.botones {
    display: flex;
    justify-content: flex-end; /* Esto alinea los botones a la derecha */
    gap: 10px; /* Espacio entre los botones */
}

.saveBtn {
    background-color: #008f00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.saveBtn:hover {
    background-color: #4CAF50;
}

.saveBtn:disabled {
    cursor: not-allowed;
    /* Cambia el puntero a no permitido cuando el botón está deshabilitado */
    background-color: #ddd;
    /* Cambia el color de fondo cuando está deshabilitado */
}

.cancelBtn {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.cancelBtn:hover {
    background-color: #d70000;
}

/* Estilos para los mensajes */
.requirements {
    display: none;
    color: orange;
    font-size: 0.8em;
    margin-top: 10px;
}

.requirements ul {
    list-style-type: none;
    padding-left: 0;
}

.requirements li {
    margin-bottom: 5px;
}

.valid {
    color: #339900;
}

.invalid {
    color: orange;
}

/* Estilo para el mensaje flotante */
.toast-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #167bff;
    color: white;
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-out; /* Transición suave para desvanecerse */
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: flex-start; /* Alinea los elementos desde la izquierda */
    z-index: 9999;
}

.toast-message img {
    margin-right: 5px; /* Espacio entre la imagen y el texto */
    width: 24px; /* Ajustar el tamaño de la imagen */
}

/* Estilo para el mensaje de coincidencia de contraseñas */
#passwordMatchMessage, #confirmPasswordMatchMessage {
    font-size: 0.8em;
    margin-top: 10px;
}

.password-match {
    color: #339900;
}

.password-mismatch {
    color: orange;
}

form p {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

#volverInicio {
    color: #0073ef;
    /* Color azul para el enlace */
    text-decoration: none;
    /* Elimina el subrayado por defecto */
}

#volverInicio:hover {
    color: #0056b3;
    /* Color más oscuro cuando el enlace es hover */
    text-decoration: underline;
    /* Subraya el enlace cuando el usuario pasa el cursor sobre él */
}

.password-container {
    position: relative;
}

input[type="password"], input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    padding-right: 50px;
    /* Espacio para el icono */
    box-sizing: border-box;
    margin-top: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Icono de mostrar/ocultar contraseña */
.eye-icon {
    position: absolute;
    top: 68%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}

.eye-icon img {
    width: 20px;
    /* Tamaño del icono */
    height: 20px;
}